<form class="form-inline" role="form" name="teamForm" ng-submit="addTeam(teamName)" novalidate>

    <div class="form-group" ng-class="{ 'has-error' : teamForm.teamTitle.$invalid && !teamForm.teamTitle.$pristine }">
        <div class="input-group">
            <input type="text" name="teamTitle" class="form-control" 
                   placeholder="Team Name" ng-model="teamName"
                   ng-pattern="/^[a-zA-Z0-9 .-]+$/" ng-minlength="3" required>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-disabled="teamForm.$invalid"> 
                    <i class="fa fa-plus-circle"></i> 
                </button>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : teamForm.teamTitle.$invalid && !teamForm.teamTitle.$pristine }">
        <p ng-show="teamForm.teamTitle.$error.required && !teamForm.teamTitle.$pristine" class="help-block">Team Name must not be empty</p>
        <p ng-show="teamForm.teamTitle.$error.minlength" class="help-block">Team Name must contain at least 3 chars</p>
        <p ng-show="teamForm.teamTitle.$error.pattern" class="help-block">Team Name must contain only A-Z chars and digits</p>
    </div>

</form>

<hr>

<div ng-show="teams.length==0">No Teams</div>
<div ng-show="teams.length">
    <h3>Teams list</h3>
    <accordion close-others="true">
        <accordion-group ng-repeat="team in teams track by team.id" is-open="team.isActive">
            <accordion-heading>
                <i class="pull-left glyphicon" 
                   ng-class="{'glyphicon-chevron-down': team.isActive, 'glyphicon-chevron-right': !team.isActive}"></i>
                <span style='margin-left: 10px;'>{{team.title}}</span> 
                <i class="pull-right fa fa-times" ng-click="deleteTeam(team)"></i>
            </accordion-heading>

            <div ng-show="team.employees.length==0">No Employees</div>
            <div ng-show="team.employees.length">
                <strong>Employees in the team:</strong>
                <ul>
                    <li ng-repeat="employee in team.employees track by $index">
                        <span popover-placement="bottom" popover-title="{{employeesDetailedInfoTitle}}"
                              popover="{{employeesDetailedInfoText}}" popover-trigger="mouseenter">{{employee.name}} 
                        </span>
                        <span ng-click="deleteEmployeeFromTeam(employee, team)"> 
                            <i class="pull-right fa fa-times" ></i> 
                        </span>
                    </li>
                </ul>
            </div>

        </accordion-group>
    </accordion>
</div>